@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Quicksand;
    /*background: rgb(68,50,97);
    background: linear-gradient(90deg, rgba(68,50,97,1) 0%, rgba(71,21,95,1) 61%, rgba(37,14,83,0.7441351540616247) 98%);
    */
    /*background-size: cover;
    background-position: center;
    */

}
.header{
    background: rgb(140,103,203);
    background: linear-gradient(90deg, rgba(140,103,203,1) 0%, rgba(17,4,37,1) 0%, rgba(53,21,95,1) 40%, rgba(53,21,95,1) 64%, rgba(54,20,95,1) 99%, #2e0e53be 100%);
    /*height: 300px;
    */
}
.fuenteTamanio{
    font-size: 1.5rem;
}
.claseBody{
    background-image: url(../assets/img/pexels-tim-samuel-5834948.jpg);
    background-size: cover;
    background-position: center;    
}

/*.claseMain{
    
background-image: url(../assets/img/imgFondoNueva.jpg);
background-size: cover;
background-position: center;
}
*/
.tituloPrincipal{
    color:rgb(255, 242, 58);
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.subtitulo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.contenedorParrafo{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    margin-bottom: 50px;
    width: 100%;
    max-width: auto;
    height: auto;
}
.container img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al tamaño del contenedor */
    display: block;
}
.divParrafo{
    font-size: 1.5rem;
    color: azure;
    position: relative;
}
.contenedorCarrousel{
    /*width: 50%*/
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 350px;
    max-width: 800px;
}
.carousel{
    max-width: 100%;
}
.carousel-item img {
    max-width: 100%;
    height: auto;
}
.divSeparador{
    margin-top: 200px;
}
.parrafo1{
    font-style: italic;
    text-align: center;
    margin-left: 20vh;
    margin-right: 20vh;
}
.logoMain{
    text-align: center;
}
.logo{
    width: 30%;

}
.contenedorLogo{
    width: 45%;
    display: inline-block;

    padding-top:10px;
}
.navegacion{
    display: inline-block;
    width: 50%;
    text-align: right;
}
.listaItem{
    list-style: none;
    display: inline-block;
    padding-left:10px;   
    padding-top:0;
}
.linkNav{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
}
.divFooter{
    text-align: center;
    color: rgb(255, 255, 255);
}
.contenedorFooter{
    /*margin: 0 auto;
    width: 4%;
    padding-left:10px ;
    font-size: 1rem;
    text-align: center;
    margin-bottom: auto;
    */
    font-size: 30px;
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.footerClase{
    z-index: 9999;
    background: rgb(140,103,203);
    background: linear-gradient(90deg, rgba(140,103,203,1) 0%, rgba(17,4,37,1) 0%, rgba(53,21,95,1) 40%, rgba(53,21,95,1) 64%, rgba(54,20,95,1) 99%, rgba(46,14,83,0.7441351540616247) 100%);
}
.contenedorMapa{
    text-align: center;
    background-color: #2e0541e0;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-bottom: 20vh;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/*PAGINA FIND US*/
.tituloFindUs{
    color:rgb(255, 242, 58);
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;    
}
.contenedor_tituloFindUs{
    text-align: center;
}