@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to left bottom, #ffffff, #d9d3ed, #b6a8da, #967ec5, #7754ae, #6a41a6, #5d2c9e, #501295, #510f9b, #510ba0, #5206a6, #5201ac);
    color:white;

}
.header{
    height: 23vh;
    background: rgb(140,103,203);
    background: linear-gradient(90deg, rgba(140,103,203,1) 0%, rgba(17,4,37,1) 0%, rgba(53,21,95,1) 40%, rgba(53,21,95,1) 64%, rgba(54,20,95,1) 99%, rgba(46,14,83,0.7441351540616247) 100%);
}
.tituloPrincipal{
    color:rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
}
.subtitulo{
    text-align: center;
}
.parrafo1{
    font-style: italic;
    text-align: center;
    margin-left: 20vh;
    margin-right: 20vh;
}
.logoMain{
    text-align: center;
}
.logo{
    width: 30%;

}
.contenedorLogo{
    width: 45%;
    display: inline-block;

    padding-top:10px;
}
.navegacion{
    display: inline-block;
    width: 50%;
    text-align: right;
  
}
.listaItem{
    list-style: none;
    display: inline-block;
    padding-left:10px;   
    padding-top:0;
}
.linkNav{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
}
.divFooter{
    text-align: center;
}
.contenedorFooter{
    margin: 0 auto;
    width: 4%;
    padding-left:10px ;
    font-size: 1rem;
    text-align: center;
    
    
}
.contenedorMapa{
    text-align: center;
    background-color: #00000036;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-bottom: 10vh;
    backdrop-filter: blur(12%);
    
}