*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor404{
    text-align: center;
    color: azure;
    margin-bottom: 20px;
    .img404{
        border-radius: 20px;
    }
    .titulo404{
        font-size: 4rem;
    }
    
}

.contenedorImg404{
    margin-bottom: 20px;
}