*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: rgb(140,103,203);
    background: linear-gradient(90deg, rgba(140,103,203,1) 0%, rgba(17,4,37,1) 0%, rgba(53,21,95,1) 40%, rgba(53,21,95,1) 64%, rgba(54,20,95,1) 99%, #2e0e53be 100%);
    .navbar{
        font-size: 1.5rem;
        
        }
    }

.text-center{
    color:rgb(255, 242, 58);
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        font-family: Roboto;
        &:hover{
            color: rgb(226, 11, 197);
        }
}

.mb-3{
    text-align: center;
    color: azure;
    font-weight: bolder;
    text-decoration: underline;
}

.parrafoAyuda{
    text-align: center;
    color: azure;
}

.contenedorOl{
    margin: auto;
    padding: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(16, 19, 19, 0);
    .listaAyuda{
        color: azure;
    }
    
}

.divAyuda{
    background-color: rgb(2, 2, 2);
    .h4Section{
        color: azure;
        text-align: center;
    }

}

.contenedorAyuda2{
    .btn{
        text-align: center;
    }
    .contenedorImgAyuda{
        text-align: center;
    }
}

.contenedorForm{
    color: azure;
    margin-bottom: 20px;
    margin-bottom: 20px;
    font-weight: bolder;

}



